[config]
fav_rows = 5
fav_cols = 4
current_msb = 121
current_lsb = 3
current_pc = 2

[fav0]
lsb = -1
pc = -1
name = 
msb = -1

[fav1]
lsb = -1
pc = -1
name = 
msb = -1

[fav2]
lsb = -1
pc = -1
name = 
msb = -1

[fav3]
lsb = -1
pc = -1
name = 
msb = -1

[fav4]
lsb = -1
pc = -1
name = 
msb = -1

[fav5]
lsb = -1
pc = -1
name = 
msb = -1

[fav6]
lsb = -1
pc = -1
name = 
msb = -1

[fav7]
lsb = -1
pc = -1
name = 
msb = -1

[fav8]
lsb = -1
pc = -1
name = 
msb = -1

[fav9]
lsb = -1
pc = -1
name = 
msb = -1

[fav10]
lsb = -1
pc = -1
name = 
msb = -1

[fav11]
lsb = -1
pc = -1
name = 
msb = -1

[fav12]
lsb = -1
pc = -1
name = 
msb = -1

[fav13]
lsb = -1
pc = -1
name = 
msb = -1

[fav14]
lsb = -1
pc = -1
name = 
msb = -1

[fav15]
lsb = -1
pc = -1
name = 
msb = -1

[fav16]
lsb = -1
pc = -1
name = 
msb = -1

[fav17]
lsb = -1
pc = -1
name = 
msb = -1

[fav18]
lsb = -1
pc = -1
name = 
msb = -1

[fav19]
lsb = -1
pc = -1
name = 
msb = -1

